<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.mapper.UserMapper">
    <resultMap id="BaseUserMap" type="com.py.entity.User">
        <result column="user_name"  property="userName"/>
        <result column="age"  property="age"/>
        <result column="sex"  property="sex"/>
    </resultMap>

    <sql id="Base_User_Column_List">
        user_name,
        age,
        sex
    </sql>

    <select id="getAllUser" resultMap="BaseUserMap" flushCache="true">
        select
        <include refid="Base_User_Column_List" />
        from t_user
    </select>

    <select id="findAllUser" resultMap="BaseUserMap" flushCache="true">
        select
        user_name
        from t_user
    </select>

    <select id="getExportDataList" resultType="com.py.entity.export.DataInfo" flushCache="true">
        select
        user_name as data0
        from t_user
    </select>
</mapper>